.card {
  position: relative;
  width: 21.25rem;
  height: auto;
  background-color: #ffffff;
  border-radius: 0.63rem;
  margin-bottom: 2.5rem;

  @include breakpoint-up(medium) {
    width: 48.75 rem;
  }
  @include breakpoint-up(large) {
    width: 70rem;
  }

  &__img {
    width: 3.13rem;
    height: 3.13rem;
    &-mobile {
      position: absolute;
      top: -25px;
      left: 25px;
    }
    &-desktop {
      width: 5.63rem;
      height: 5.63rem;
      position: static;
    }
  }

  &__description {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-left {
      @include breakpoint-up(large) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &--p {
      padding: 1.25rem 1.56rem;
      @include breakpoint-up(large) {
        padding: 1.25rem 0.63rem;
      }
    }
  }

  &__status {
    line-height: 0px;
  }

  &__header {
    margin-top: 1.25rem;
    @include breakpoint-up(large) {
      margin-top: 0px;
    }
    .company {
      color: $desaturatedDarkCyan;
      margin-right: 1.25rem;
    }
    .label {
      background-color: $desaturatedDarkCyan;
      color: aliceblue;
      padding: 0.31rem 0.63rem;
      border-radius: 1.25rem;
      margin-right: 0.63rem;
      &-dark {
        background-color: black;
      }
    }
  }
  &__status {
    color: gray;
  }
  &__categories {
    padding: 0;
  }
  &__category {
    width: auto;
    background-color: $lighterGrayishCyan;
    color: $desaturatedDarkCyan;
    padding: 0.63rem;
    margin-right: 0.94rem;
    margin-top: 1.25rem;
    border-radius: 0.31rem;
    border: none;
    &:hover {
      background-color: $veryDarkGrayishCyan;
      color: white;
    }
  }
}
