html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-base;
  background-color: $lightGrayishCyan;
}

// Text
h1,
h2,
h3 {
  font-weight: 500;
  margin-top: 0px;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}
p {
  margin: 0.63rem 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
  @include breakpoint-up(medium) {
    max-width: 80%;
    margin: 0 auto;
  }
  @include breakpoint-up(large) {
    max-width: 100%;
  }
}

// flex
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-a {
    justify-content: space-around;
  }

  &-jc-c {
    justify-content: center;
  }
  &-jc-l {
    justify-content: left;
  }

  &-ai-c {
    align-items: center;
  }
}

.px {
  padding: 0 20px;
}

.hidden {
  @include breakpoint-up(medium) {
    display: none;
  }
}
.hidden-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}
