.search {
  display: flex;
  justify-content: center;
  margin-top: -35px;
  &__bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 330px;
    height: auto;
    background-color: white;
    border: none;
    border-radius: 5px;
    @include breakpoint-up(large) {
      width: 1110px;
    }

    span {
      color: $darkGrayishCyan;
      text-decoration: none;
      padding: 0 0 0 0.5rem;
      margin: 10px;
      &:hover {
        color: $veryDarkGrayishCyan;
        text-decoration: underline;
      }
    }
  }

  &__category {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: $lighterGrayishCyan;
    color: $desaturatedDarkCyan;
    margin: 10px 10px 10px 0px;
    font-weight: $font-bold;
    border-radius: 5px;
    border: none;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    .close {
      background-color: $lighterGrayishCyan;
      color: $desaturatedDarkCyan;
      font-weight: $font-bold;
      border: none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      margin-left: 0.5rem;
      transition: all 0.2s;

      &:hover {
        background-color: $desaturatedDarkCyan;
        color: white;
      }
    }
  }
}
