// colors
$lightGrayishCyan: hsl(180, 52%, 96%); // (Background)
$lighterGrayishCyan: hsl(180, 31%, 95%); // (Filter Tables)
$darkGrayishCyan: hsl(180, 8%, 52%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);
$desaturatedDarkCyan: hsl(180, 29%, 50%);

// Font
$font-family: "League Spartan", sans-serif;
$font-bold: 700;
$font-semibold: 500;
$font-base: 15px;
